<div>
  <h1 class="page-title"><%= @profile.account_name %></h1>
</div>
<div class="container main-contents message-title-container">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <table class="message-container message-table">
        <tr>
          <th class="left-box left-th left-name-title"><%= @profile.account_name %></th>
          <th class="right-box right-th right-name-title"><%= current_user.user_detail.account_name %></th>
        </tr>
      </table>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <table class="message message-container message-table">
        <% @messages.each do |comment| %>
          <% unless comment.user_id == current_user.id %>
            <% comment.update_status(comment) if comment.read == "未読" %>
              <tr>
                <th class="left-box">
                  <div class="post_message">
                    <div class="message-img-position">
                      <%= image_tag @profile.profile_picture.url, class: 'message-img' %>
                    </div>
                    <div class="main-message-box left-th w95">
                      <div class="message-user">
                        <p class="message-user-name"><%= @profile.account_name %></p>
                      </div>
                      <div class="post-time">
                        <p class='message-date'><%= comment.relative_post_date(comment.created_at, params[:locale]) %></p>
                      </div>
                      <div>
                        <p class="message-text"><%= comment.message %></p>
                      </div>
                    </div>
                  </div>
                </th>
                <th class="right-box">
                  <div class="w95">
                  </div>
                </th>
              </tr>
            <% else %>
              <tr>
                <th class="left-box">
                  <div class="w95">
                  </div>
                </th>
                <th class="right-box">
                  <div class="post_message">
                    <div class="message-img-position">
                      <%= image_tag current_user.user_detail.profile_picture.url, class: 'message-img' %>
                    </div>
                    <div class="main-message-box right-th w95">
                      <div class="message-user">
                        <p class="message-user-name"><%= current_user.user_detail.account_name %></p>
                      </div>
                      <div class="post-time">
                        <p class="message-date"><%= comment.relative_post_date(comment.created_at, params[:locale]) %></p>
                      </div>
                      <div>
                        <p class="message-text left-message-text"><%= comment.message %></p>
                      </div>
                    </div>
                  </div>
                </th>
              </tr>
            <% end %>
          <% end %>
        </div>
      </table>
    <%= paginate @messages %><br />
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
<div class="container main-contents">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 contents">
      <%= form_with model: @message, remote: true do |f| %>
        <div class="comment-error">
        </div>
        <div class="form_box">
          <% if params[:locale] == "ja" %>
            <%= f.text_area :message, size: "8x6", placeholder: "コメントを入力してください。", class: "form-control overflow-auto" %>
          <% else %>
            <%= f.text_area :message, size: "8x6", placeholder: "Please enter a comment.", class: "form-control overflow-auto" %>
          <% end %>
          <%= f.hidden_field :chat_room_id %>
        </div>
        <div class="form_box basic-button">
          <% if params[:locale] == "ja" %>
            <%= f.submit "送信", class:"btn btn-success btn-lg w-25" %>
          <% else %>
            <%= f.submit "Send", class:"btn btn-success btn-lg w-25" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
<script>
  $(function() {
    $('.jscroll').jscroll({
      contentSelector: '.scroll-list',
      nextSelector: 'span.next:last a'
    });
  });
</script>
