<div>
  <h1 class="page-title">ユーザー情報編集</h1>
</div>
<% if resource.errors.any? %>
  <div class="container main-contents">
    <div class="row">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-8">
        <div id="error_explanation">
          <%= render "devise/shared/error_messages", resource: resource %>
        </div>
      </div>
      <div class="col-lg-2">
      </div>
    </div>
  </div>
<% end %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.fields_for :user_detail do |m| %>
    <div class="container main-contents">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8 profile-field">
          <div class="form_box user-margin-bottom">
            <div class="recruitment-img">
              <%= image_tag(resource.user_detail.profile_picture.url, size: '100x100') if resource.user_detail.profile_picture && resource.user_detail.profile_picture.url %>
              <%= m.file_field :profile_picture, class: "file-text" %>
            </div>
          </div>
          <div class="form_box user-margin-bottom">
            <div class="profile-title">
              <%= f.label :email, 'メールアドレス', class: "content_field form-label" %>
            </div>
            <div class="profile-content">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>
          </div>
          <div class="form_box user-margin-bottom">
            <div class="profile-title">
              <%= m.label :account_name, 'アカウント名', class: "content_field form-label" %>
            </div>
            <div class="profile-content">
              <%= m.text_field :account_name, class: "form-control" %>
            </div>
          </div>
          <div class="form_box user-margin-bottom user-margin-top">
            <div class="profile-title">
              <%= m.label :living_country, '居住地', class: "content_field form-label" %>
            </div>
            <div class="profile-content">
              <%= m.country_select :living_country, class: "form-control" %><br />
              <%= m.radio_button :living_country_status, :公開, checked: resource.user_detail.living_country_status == "公開" %>公開
              <%= m.radio_button :living_country_status, :非公開, checked: resource.user_detail.living_country_status == "非公開" %>非公開
              <%= m.radio_button :living_country_status, :フレンドのみ公開, checked: resource.user_detail.living_country_status == "フレンドのみ公開" %>フレンドのみ公開
            </div>
          </div>
          <div class="form_box user-margin-bottom">
            <div class="profile-title">
              <%= m.label :native_country, '出身地', class: "content_field form-label" %>
            </div>
            <div class="profile-content">
              <%= m.country_select :native_country, class: "form-control" %><br />
              <%= m.radio_button :native_country_status, :公開, checked: resource.user_detail.native_country_status == "公開" %>公開
              <%= m.radio_button :native_country_status, :非公開, checked: resource.user_detail.native_country_status == "非公開" %>非公開
              <%= m.radio_button :native_country_status, :フレンドのみ公開, checked: resource.user_detail.native_country_status == "フレンドのみ公開" %>フレンドのみ公開
            </div>
          </div>
          <div class="form_box">
            <div class="profile-title">
              <%= m.label :date_of_birth, '生年月日', class: "content_field form-label" %>
            </div>
            <div class="profile-content user-margin-bottom">
              <%= m.date_select(:date_of_birth,
                                use_month_numbers: true,
                                start_year: 1920,
                                end_year: (Time.now.year),
                                default: Date.new(1990, 1, 1),
                                date_separator: '/',
                                class: "form-control"
              ) %><br />
              <%= m.radio_button :date_of_birth_status, :公開, checked: resource.user_detail.date_of_birth_status == "公開" %>公開
              <%= m.radio_button :date_of_birth_status, :非公開, checked: resource.user_detail.date_of_birth_status == "非公開" %>非公開
              <%= m.radio_button :date_of_birth_status, :フレンドのみ公開, checked: resource.user_detail.date_of_birth_status == "フレンドのみ公開" %>フレンドのみ公開
            </div>
          <div class="form_box">
            <div class="profile-title">
              <%= m.label :gender, '性別', class: "content_field form-label" %>
            </div>
            <div class="profile-content">
              <%= m.select :gender, UserDetail.genders.keys, { include_blank: '--------'}, {id: 'user_gender'} %><br />
              <%= m.radio_button :gender_status, :公開, checked: resource.user_detail.gender_status == "公開" %>公開
              <%= m.radio_button :gender_status, :非公開, checked: resource.user_detail.gender_status == "非公開" %>非公開
              <%= m.radio_button :gender_status, :フレンドのみ公開, checked: resource.user_detail.gender_status == "フレンドのみ公開" %>フレンドのみ公開
            </div>
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
    <div>
      <h1 class="page-title">自己紹介</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <div class="form_box">
            <div class="profile-content overflow-auto">
              <%= m.text_area :self_introduction, size: "30x20", placeholder: "自己紹介文を入力してください。",  class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  <% end %>

  <div>
    <h1 class="page-title">言語情報</h1>
  </div>
  <div class="container main-contents">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 profile-field">
        <%= f.fields_for :learn_languages do |l| %>
          <div class="form_box user-margin-bottom">
            <div class="profile-title">
              <p>学習中の言語</p>
            </div>
            <div class="profile-content">
              <%= l.select :learn_language, LanguageList::COMMON_LANGUAGES.map { |lang| lang.name }, { include_blank: '-----------------'}, {id: 'learn_language', class: 'language-margin'} %>
              <%= l.select :rank, [["初級者", "初級者"], ["中級者", "中級者"], ["上級者", "上級者"], ["ネイティブ", "ネイティブ"]], { include_blank: '-----------------'}, {id: 'rank'} %><br />
              <%= l.radio_button :learn_language_status, :公開, checked: resource.learn_languages[l.index].learn_language_status == "公開" %>公開
              <%= l.radio_button :learn_language_status, :非公開, checked: resource.learn_languages[l.index].learn_language_status == "非公開" %>非公開
              <%= l.radio_button :learn_language_status, :フレンドのみ公開, checked: resource.learn_languages[l.index].learn_language_status == "フレンドのみ公開" %>フレンドのみ公開
            </div>
          </div>
        <% end %>
        <%= f.fields_for :speak_languages do |s| %>
          <div class="form_box user-margin-bottom">
            <div class="profile-title">
              <p>話せる言語</p>
            </div>
            <div class="profile-content">
              <%= s.select :speak_language, LanguageList::COMMON_LANGUAGES.map { |lang| lang.name }, { include_blank: '-----------------'}, {id: 'speak_language', class: 'language-margin'} %>
              <%= s.select :rank, [["初級者", "初級者"], ["中級者", "中級者"], ["上級者", "上級者"], ["ネイティブ", "ネイティブ"]], { include_blank: '-----------------'}, {id: 'rank'} %><br />
              <%= s.radio_button :speak_language_status, :公開, checked: resource.speak_languages[s.index].speak_language_status == "公開" %>公開
              <%= s.radio_button :speak_language_status, :非公開, checked: resource.speak_languages[s.index].speak_language_status == "非公開" %>非公開
              <%= s.radio_button :speak_language_status, :フレンドのみ公開, checked: resource.speak_languages[s.index].speak_language_status == "フレンドのみ公開" %>フレンドのみ公開
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>

  <div>
    <h1 class="page-title">プレイ可能なゲーム</h1>
  </div>
  <div class="container main-contents">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 profile-field">
        <% resource.games.each do |game| %>
          <%= f.fields_for :games do |g| %>
            <div class="form_box user-margin-bottom">
              <div class="profile-content bottom-fit-box">
                <%= g.label :name, 'ゲーム名：', class: "left-fit-box" %> <%= g.text_field :name %>
              </div>
              <%= g.fields_for :game_relations do |r| %>
                <div class="profile-content">
                  <%= r.label :game_platform_id, 'ゲームプラットフォーム：' %> <%= r.select :game_platform_id, GamePlatform.all.map { |p| [p.name, p.id] }, { include_blank: '-----------------------'}, {id: 'game_platform_name'} %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>

  <div>
    <h1 class="page-title">外部アカウント</h1>
  </div>
  <div class="container main-contents">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 profile-field">
        <%= f.fields_for :game_account do |a| %>
          <div class="form_box user-margin-bottom">
            <div class="profile-title">
              <%= a.label :discord_id, 'Discord ID', class: "content_field form-label" %>
            </div>
            <div class="profile-content">
              <%= a.text_field :discord_id %><br />
              <%= a.radio_button :discord_id_status, :公開, checked: resource.game_account.discord_id_status == "公開" %>公開
              <%= a.radio_button :discord_id_status, :非公開, checked: resource.game_account.discord_id_status == "非公開" %>非公開
              <%= a.radio_button :discord_id_status, :フレンドのみ公開, checked: resource.game_account.discord_id_status == "フレンドのみ公開" %>フレンドのみ公開
            </div>
          </div>
          <div class="form_box user-margin-bottom">
            <div class="profile-title">
              <%= a.label :twitter_id, 'Twitter ID', class: "content_field form-label" %>
            </div>
            <div class="profile-content">
              <%= a.text_field :twitter_id %><br />
              <%= a.radio_button :twitter_id_status, :公開, checked: resource.game_account.twitter_id_status == "公開" %>公開
              <%= a.radio_button :twitter_id_status, :非公開, checked: resource.game_account.twitter_id_status == "非公開" %>非公開
              <%= a.radio_button :twitter_id_status, :フレンドのみ公開, checked: resource.game_account.twitter_id_status == "フレンドのみ公開" %>フレンドのみ公開
            </div>
          </div>
          <div class="form_box user-margin-bottom">
            <div class="profile-title">
              <%= a.label :steam_id, 'Steam ID', class: "content_field form-label" %>
            </div>
            <div class="profile-content">
              <%= a.text_field :steam_id %><br />
              <%= a.radio_button :steam_id_status, :公開, checked: resource.game_account.steam_id_status == "公開" %>公開
              <%= a.radio_button :steam_id_status, :非公開, checked: resource.game_account.steam_id_status == "非公開" %>非公開
              <%= a.radio_button :steam_id_status, :フレンドのみ公開, checked: resource.game_account.steam_id_status == "フレンドのみ公開" %>フレンドのみ公開
            </div>
          </div>
          <div class="form_box user-margin-bottom">
            <div class="profile-title">
              <%= a.label :origin_id, 'Origin ID', class: "content_field form-label" %>
            </div>
            <div class="profile-content">
              <%= a.text_field :origin_id %><br />
              <%= a.radio_button :origin_id_status, :公開, checked: resource.game_account.origin_id_status == "公開" %>公開
              <%= a.radio_button :origin_id_status, :非公開, checked: resource.game_account.origin_id_status == "非公開" %>非公開
              <%= a.radio_button :origin_id_status, :フレンドのみ公開, checked: resource.game_account.origin_id_status == "フレンドのみ公開" %>フレンドのみ公開
            </div>
          </div>
          <div class="form_box user-margin-bottom">
            <div class="profile-title">
              <%= a.label :riot_id, 'Riot ID', class: "content_field form-label" %>
            </div>
            <div class="profile-content">
              <%= a.text_field :riot_id %><br />
              <%= a.radio_button :riot_id_status, :公開, checked: resource.game_account.riot_id_status == "公開" %>公開
              <%= a.radio_button :riot_id_status, :非公開, checked: resource.game_account.riot_id_status == "非公開" %>非公開
              <%= a.radio_button :riot_id_status, :フレンドのみ公開, checked: resource.game_account.riot_id_status == "フレンドのみ公開" %>フレンドのみ公開
            </div>
          </div>
          <div class="form_box user-margin-bottom">
            <div class="profile-title">
              <%= a.label :psn_id, 'PSN ID', class: "content_field form-label" %>
            </div>
            <div class="profile-content">
              <%= a.text_field :psn_id %><br />
              <%= a.radio_button :psn_id_status, :公開, checked: resource.game_account.psn_id_status == "公開" %>公開
              <%= a.radio_button :psn_id_status, :非公開, checked: resource.game_account.psn_id_status == "非公開" %>非公開
              <%= a.radio_button :psn_id_status, :フレンドのみ公開, checked: resource.game_account.psn_id_status == "フレンドのみ公開" %>フレンドのみ公開
            </div>
          </div>
          <div class="form_box user-margin-bottom">
            <div class="profile-title">
              <%= a.label :xbox_id, 'Xbox ID', class: "content_field form-label" %>
            </div>
            <div class="profile-content">
              <%= a.text_field :xbox_id %><br />
              <%= a.radio_button :xbox_id_status, :公開, checked: resource.game_account.xbox_id_status == "公開" %>公開
              <%= a.radio_button :xbox_id_status, :非公開, checked: resource.game_account.xbox_id_status == "非公開" %>非公開
              <%= a.radio_button :xbox_id_status, :フレンドのみ公開, checked: resource.game_account.xbox_id_status == "フレンドのみ公開" %>フレンドのみ公開
            </div>
          </div>
          <div class="form_box user-margin-bottom">
            <div class="profile-title">
              <%= a.label :nintendo_id, '任天堂ID', class: "content_field form-label" %>
            </div>
            <div class="profile-content">
              <%= a.text_field :nintendo_id %><br />
              <%= a.radio_button :nintendo_id_status, :公開, checked: resource.game_account.nintendo_id_status == "公開" %>公開
              <%= a.radio_button :nintendo_id_status, :非公開, checked: resource.game_account.nintendo_id_status == "非公開" %>非公開
              <%= a.radio_button :nintendo_id_status, :フレンドのみ公開, checked: resource.game_account.nintendo_id_status == "フレンドのみ公開" %>フレンドのみ公開
            </div>
          </div>
          <div class="form_box user-margin-bottom">
            <div class="profile-title">
              <%= a.label :other_id, 'その他ID', class: "content_field form-label" %>
            </div>
            <div class="profile-content">
              <%= a.text_field :other_id %><br />
              <%= a.radio_button :other_id_status, :公開, checked: resource.game_account.other_id_status == "公開" %>公開
              <%= a.radio_button :other_id_status, :非公開, checked: resource.game_account.other_id_status == "非公開" %>非公開
              <%= a.radio_button :other_id_status, :フレンドのみ公開, checked: resource.game_account.other_id_status == "フレンドのみ公開" %>フレンドのみ公開
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
    <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <div class="btn-position">
          <div>
            <%= f.submit "更新", class: "btn btn-success btn-lg update-btn" %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
<% end %>
<div class="container main-contents">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 btn-position">
      <%= button_to "アカウントの削除", registration_path(resource_name), data: { confirm: "本当にアカウントを削除しますか？" }, method: :delete, class: "btn btn-danger btn-lg delete-btn" %>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
