<h2>ユーザー情報編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <h2>基本情報</h2>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <%= f.fields_for :user_detail do |m| %>
    <div class="field">
      <%= m.label :account_name, 'アカウント名' %><br />
      <%= m.text_field :account_name %>
    </div>
    <div class="field">
      <%= m.label :profile_picture, 'プロフィール画像' %><br />
      <%= image_tag(resource.user_detail.profile_picture.large.url) if resource.user_detail.profile_picture && resource.user_detail.profile_picture.url %>
      <%= m.file_field :profile_picture %>
    </div>
    <div class="field">
      <%= m.label :self_introduction, '自己紹介文' %><br />
      <%= m.text_area :self_introduction %>
    </div>
    <div class="field">
      <%= m.label :living_country, '住んでる国' %><br />
      <%= m.country_select :living_country %>
      <%= m.radio_button :living_country_status, :公開, checked: resource.user_detail.living_country_status == "公開" %>公開
      <%= m.radio_button :living_country_status, :非公開, checked: resource.user_detail.living_country_status == "非公開" %>非公開
      <%= m.radio_button :living_country_status, :フレンドのみ公開, checked: resource.user_detail.living_country_status == "フレンドのみ公開" %>フレンドのみ公開
    </div>
    <div class="field">
      <%= m.label :native_country, '出身国' %><br />
      <%= m.country_select :native_country %>
      <%= m.radio_button :native_country_status, :公開, checked: resource.user_detail.native_country_status == "公開" %>公開
      <%= m.radio_button :native_country_status, :非公開, checked: resource.user_detail.native_country_status == "非公開" %>非公開
      <%= m.radio_button :native_country_status, :フレンドのみ公開, checked: resource.user_detail.native_country_status == "フレンドのみ公開" %>フレンドのみ公開
    </div>
    <div class="field">
      <%= m.label :date_of_birth, '生年月日' %><br />
      <%= m.date_select(:date_of_birth,
                        use_month_numbers: true,
                        start_year: 1920,
                        end_year: (Time.now.year),
                        default: Date.new(1990, 1, 1),
                        date_separator: '/'
      ) %>
      <%= m.radio_button :date_of_birth_status, :公開, checked: resource.user_detail.date_of_birth_status == "公開" %>公開
      <%= m.radio_button :date_of_birth_status, :非公開, checked: resource.user_detail.date_of_birth_status == "非公開" %>非公開
      <%= m.radio_button :date_of_birth_status, :フレンドのみ公開, checked: resource.user_detail.date_of_birth_status == "フレンドのみ公開" %>フレンドのみ公開
    </div>
    <div class="field">
      <%= m.label :gender, '性別' %><br />
      <%= m.select :gender, UserDetail.genders.keys, { include_blank: '--------'}, {id: 'user_gender'} %>
      <%= m.radio_button :gender_status, :公開, checked: resource.user_detail.gender_status == "公開" %>公開
      <%= m.radio_button :gender_status, :非公開, checked: resource.user_detail.gender_status == "非公開" %>非公開
      <%= m.radio_button :gender_status, :フレンドのみ公開, checked: resource.user_detail.gender_status == "フレンドのみ公開" %>フレンドのみ公開
    </div>
  <% end %>
  <div>------------------------------------------------------------------------<br/></div>
  <h3>学習中の言語</h3>
  <%= f.fields_for :learn_languages do |l| %>
    <% binding.pry %>
    <div class="field">
      <%= l.select :learn_language, LanguageList::COMMON_LANGUAGES.map { |lang| lang.name }, { include_blank: '-----------------'}, {id: 'learn_language'} %>
      <%= l.label :rank, '習得レベル' %>
      <%= l.select :rank, [["初級者", "初級者"], ["中級者", "中級者"], ["上級者", "上級者"], ["ネイティブ", "ネイティブ"]], { include_blank: '-----------------'}, {id: 'rank'} %>
      <%= l.radio_button :learn_language_status, :公開, checked: resource.learn_languages[l.index].learn_language_status == "公開" %>公開
      <%= l.radio_button :learn_language_status, :非公開, checked: resource.learn_languages[l.index].learn_language_status == "非公開" %>非公開
      <%= l.radio_button :learn_language_status, :フレンドのみ公開, checked: resource.learn_languages[l.index].learn_language_status == "フレンドのみ公開" %>フレンドのみ公開
    </div>
  <% end %>
  <h3>話せる言語</h3>
  <%= f.fields_for :speak_languages do |s| %>
    <div class="field">
      <%= s.select :speak_language, LanguageList::COMMON_LANGUAGES.map { |lang| lang.name }, { include_blank: '-----------------'}, {id: 'speak_language'} %>
      <%= s.label :rank, '習得レベル' %>
      <%= s.select :rank, [["初級者", "初級者"], ["中級者", "中級者"], ["上級者", "上級者"], ["ネイティブ", "ネイティブ"]], { include_blank: '-----------------'}, {id: 'rank'} %>
      <%= s.radio_button :speak_language_status, :公開, checked: resource.speak_languages[s.index].speak_language_status == "公開" %>公開
      <%= s.radio_button :speak_language_status, :非公開, checked: resource.speak_languages[s.index].speak_language_status == "非公開" %>非公開
      <%= s.radio_button :speak_language_status, :フレンドのみ公開, checked: resource.speak_languages[s.index].speak_language_status == "フレンドのみ公開" %>フレンドのみ公開
    </div>
  <% end %>
  <div>------------------------------------------------------------------------<br/></div>
  <h3>プレイ可能なゲーム</h3>
  <% resource.speak_languages.each do |speak_language| %>
    <%= f.fields_for :games do |g| %>
      <div class="field">
        <%= g.label :name, 'ゲーム名' %><br />
        <%= g.text_field :name %>
      </div>
      <%= g.fields_for :game_relations do |r| %>
        <div class="field">
          <%= r.label :game_platform_id, 'ゲームプラットフォーム' %><br />
          <%= r.select :game_platform_id, GamePlatform.all.map { |p| [p.name, p.id] }, { include_blank: '-----------------------'}, {id: 'game_platform_name'} %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <div>------------------------------------------------------------------------<br/></div>
  <h3>外部アカウント</h3>
  <%= f.fields_for :game_account do |a| %>
    <div class="field">
      <%= a.label :discord_id, 'Discord ID' %><br />
      <%= a.text_field :discord_id %>
      <%= a.radio_button :discord_id_status, :公開, checked: resource.game_account.discord_id_status == "公開" %>公開
      <%= a.radio_button :discord_id_status, :非公開, checked: resource.game_account.discord_id_status == "非公開" %>非公開
      <%= a.radio_button :discord_id_status, :フレンドのみ公開, checked: resource.game_account.discord_id_status == "フレンドのみ公開" %>フレンドのみ公開
    </div>
    <div class="field">
      <%= a.label :twitter_id, 'Twitter ID' %><br />
      <%= a.text_field :twitter_id %>
      <%= a.radio_button :twitter_id_status, :公開, checked: resource.game_account.twitter_id_status == "公開" %>公開
      <%= a.radio_button :twitter_id_status, :非公開, checked: resource.game_account.twitter_id_status == "非公開" %>非公開
      <%= a.radio_button :twitter_id_status, :フレンドのみ公開, checked: resource.game_account.twitter_id_status == "フレンドのみ公開" %>フレンドのみ公開
    </div>
    <div class="field">
      <%= a.label :steam_id, 'Steam ID' %><br />
      <%= a.text_field :steam_id %>
      <%= a.radio_button :steam_id_status, :公開, checked: resource.game_account.steam_id_status == "公開" %>公開
      <%= a.radio_button :steam_id_status, :非公開, checked: resource.game_account.steam_id_status == "非公開" %>非公開
      <%= a.radio_button :steam_id_status, :フレンドのみ公開, checked: resource.game_account.steam_id_status == "フレンドのみ公開" %>フレンドのみ公開
    </div>
    <div class="field">
      <%= a.label :origin_id, 'Origin ID' %><br />
      <%= a.text_field :origin_id %>
      <%= a.radio_button :origin_id_status, :公開, checked: resource.game_account.origin_id_status == "公開" %>公開
      <%= a.radio_button :origin_id_status, :非公開, checked: resource.game_account.origin_id_status == "非公開" %>非公開
      <%= a.radio_button :origin_id_status, :フレンドのみ公開, checked: resource.game_account.origin_id_status == "フレンドのみ公開" %>フレンドのみ公開
    </div>
    <div class="field">
      <%= a.label :riot_id, 'Riot ID' %><br />
      <%= a.text_field :riot_id %>
      <%= a.radio_button :riot_id_status, :公開, checked: resource.game_account.riot_id_status == "公開" %>公開
      <%= a.radio_button :riot_id_status, :非公開, checked: resource.game_account.riot_id_status == "非公開" %>非公開
      <%= a.radio_button :riot_id_status, :フレンドのみ公開, checked: resource.game_account.riot_id_status == "フレンドのみ公開" %>フレンドのみ公開
    </div>
    <div class="field">
      <%= a.label :psn_id, 'PSN ID' %><br />
      <%= a.text_field :psn_id %>
      <%= a.radio_button :psn_id_status, :公開, checked: resource.game_account.psn_id_status == "公開" %>公開
      <%= a.radio_button :psn_id_status, :非公開, checked: resource.game_account.psn_id_status == "非公開" %>非公開
      <%= a.radio_button :psn_id_status, :フレンドのみ公開, checked: resource.game_account.psn_id_status == "フレンドのみ公開" %>フレンドのみ公開
    </div>
    <div class="field">
      <%= a.label :xbox_id, 'Xbox ID' %><br />
      <%= a.text_field :xbox_id %>
      <%= a.radio_button :xbox_id_status, :公開, checked: resource.game_account.xbox_id_status == "公開" %>公開
      <%= a.radio_button :xbox_id_status, :非公開, checked: resource.game_account.xbox_id_status == "非公開" %>非公開
      <%= a.radio_button :xbox_id_status, :フレンドのみ公開, checked: resource.game_account.xbox_id_status == "フレンドのみ公開" %>フレンドのみ公開
    </div>
    <div class="field">
      <%= a.label :nintendo_id, '任天堂ID' %><br />
      <%= a.text_field :nintendo_id %>
      <%= a.radio_button :nintendo_id_status, :公開, checked: resource.game_account.nintendo_id_status == "公開" %>公開
      <%= a.radio_button :nintendo_id_status, :非公開, checked: resource.game_account.nintendo_id_status == "非公開" %>非公開
      <%= a.radio_button :nintendo_id_status, :フレンドのみ公開, checked: resource.game_account.nintendo_id_status == "フレンドのみ公開" %>フレンドのみ公開
    </div>
    <div class="field">
      <%= a.label :other_id, 'その他ID' %><br />
      <%= a.text_field :other_id %>
      <%= a.radio_button :other_id_status, :公開, checked: resource.game_account.other_id_status == "公開" %>公開
      <%= a.radio_button :other_id_status, :非公開, checked: resource.game_account.other_id_status == "非公開" %>非公開
      <%= a.radio_button :other_id_status, :フレンドのみ公開, checked: resource.game_account.other_id_status == "フレンドのみ公開" %>フレンドのみ公開
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
