<div>
  <h1 class="page-title"><%= t("recruitments.recruitment_index.recruitment_list") %></h1>
</div>
<div class="container main-contents">
  <div class="row">
    <div class="col-lg-3">
      <% if notice.present? || alert.present? || (current_user.count_application(current_user) > 0) || current_user.check_newly_arrived_messages(current_user) %>
        <div class="information info-field">
          <div class="contents">
            <% if notice.present? %><p class="notice text-warning"><%= notice %></p><% end %>
            <% if alert.present? %><p class="alert text-danger"><%= alert %></p><% end %>
            <% if current_user.count_application(current_user) > 0 %>
              <%= link_to "#{t("recruitments.recruitment_index.front_receive_friend_request")} #{current_user.count_application(current_user)} #{t("recruitments.recruitment_index.behind_receive_friend_request")}", friend_relations_path, class: "text-warning", id: "receive-friend-request" %><br/>
            <% end %>
            <% if current_user.check_newly_arrived_messages(current_user) %>
              <%= link_to "#{t("recruitments.recruitment_index.receive_message")}", chat_rooms_path, class: "text-warning" %>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="search-data">
        <div class="contents">
          <h3 class="form-label"><%= t("recruitments.recruitment_index.search") %></h3>
          <%= search_form_for @search, url: search_recruitments_path, method: :search do |f| %>
            <% if params[:locale] == "ja" %>
              <%= f.search_field :title_or_content_or_user_games_name_or_user_user_detail_self_introduction_cont, placeholder: "キーワード検索", class: 'form-control form-awesome' %><br />
            <% else %>
              <%= f.search_field :title_or_content_or_user_games_name_or_user_user_detail_self_introduction_cont, placeholder: "Keyword search", class: 'form-control form-awesome' %><br />
            <% end %>
            <div class="search-box">
              <%= f.label :user_games_game_relations_game_platform_name_eq, t("recruitments.recruitment_index.game_platform"), class: "form-label" %><br />
              <%= f.collection_select :user_games_game_relations_game_platform_name_eq, @game_platform_list, :name, :name,  include_blank: '-------------------', class: 'form-control form-awesome select-size-auto' %>
            </div>
            <div class="search-box">
              <%= f.label :user_learn_languages_learn_language_eq, t("recruitments.recruitment_index.learning_language"), class: "text-padding-left form-label" %><br />
              <%= f.collection_select :user_learn_languages_learn_language_eq, @learn_language_list, :learn_language, :learn_language,  include_blank: '-----------------', class: 'form-control form-awesome' %>
            </div>
            <div class="search-box">
              <%= f.label :user_speak_languages_speak_language_eq, t("recruitments.recruitment_index.speaking_language"), class: "text-padding-left form-label" %><br />
              <%= f.collection_select :user_speak_languages_speak_language_eq, @speak_language_list, :speak_language, :speak_language,  include_blank: '-----------------', class: 'form-control form-awesome' %>
            </div>
            <div class="basic-button">
              <% if params[:locale] == "ja" %>
                <%= f.submit '検索', class: "btn btn-success btn-lg search-btn" %>
              <% else %>
                <%= f.submit 'Search', class: "btn btn-success btn-lg search-btn" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <br />
    </div>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-5">
      <% @recruitments.each do |recruitment| %>
        <% unless FriendRelation.check_block_status(current_user.id, recruitment.user_id) %>
          <article class="recruitment-post">
            <%= link_to recruitment_path(recruitment.id), class: 'list-recruitments', id: 'recruit' do %>
              <div class="img-position">
                <%= image_tag recruitment.user.user_detail.profile_picture.url, class: 'recruitment-img' %>
              </div>
              <div class="main-article">
                <div class='article-user'>
                  <p class='article-user-name'><%= recruitment.user.user_detail.account_name %></p>
                </div>
                <div class='article-time'>
                  <p class="article-date"><%= recruitment.relative_post_date(recruitment.updated_at, params[:locale]) %></p>
                </div>
                <div>
                  <p class='article-title'><%= recruitment.title %></p>
                </div>
              </div>
            <% end %>
            <br />
          </article>
        <% end %>
      <% end %>
      <%= paginate @recruitments %>
    </div>
    <div class="col-lg-3">
      <div class="information new-post d-grid gap-2 d-lg-block">
        <% if params[:locale] == "ja" %>
          <%= button_to "新しく募集を作成する", new_recruitment_path, method: :get, class: "p-3 btn btn-success btn-lg w-75" %>
        <% else %>
          <%= button_to "Post a new recruitment", new_recruitment_path, method: :get, class: "p-3 btn btn-success btn-lg w-75" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
