<h1>投稿一覧画面</h1>
<div class="information">
  <% if current_user.count_application(current_user) > 0 %>
    <%= link_to "フレンド申請が#{current_user.count_application(current_user)}件届いています。", friend_relations_path %><br/>
  <% end %>
  <% if current_user.check_newly_arrived_messages(current_user) == true %>
    <%= link_to "新着のメッセージが届いています。", chat_rooms_path %>
  <% end %>
</div>

<%= link_to "新しく募集を作成する", new_recruitment_path %>
<% @recruitments.each do |recruitment| %>
  <%= link_to recruitment_path(recruitment.id), class: 'list-recruitments' do %>
    <div class="field">
      <%= image_tag recruitment.user.user_detail.profile_picture.small.url %>
      <%= recruitment.user.user_detail.account_name %>
      <%= recruitment.relative_post_date(recruitment.updated_at) %><br/>
      <%= link_to recruitment.title, recruitment_path(recruitment.id) %>
    </div>
  <% end %>
<% end %>
<%= paginate @recruitments %>
