<h2>
  <% if current_user.id == @user.id %>
    自分の募集投稿画面
  <% else %>
    <%= @profile.account_name %>さんの募集詳細ページ
  <% end %>
</h2>
<h2><%= @recruitment.title %></h2>
<p><%= @recruitment.content %></p>
<%= render './users/user_show' %>
<p class="field"><%= link_to "TOPに戻る", recruitments_path %></p>
