<div>
  <h1 class="page-title">
    <% if current_user.id == @user.id %>
      自分の募集投稿画面
    <% else %>
      <%= @profile.account_name %>さんの募集詳細ページ
    <% end %>
  </h1>
</div>
<div class="container main-contents">
  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-10 contents">
      <div class="form_box">
        <h2 class="content_field form-label">タイトル</h2>
        <p class="form-control"><%= @recruitment.title %></p>
      </div>
      <div class="form_box">
        <h2 class="content_field form-label">募集内容</h2>
        <p class="form-control"><%= @recruitment.content %></p>
      </div>
      <% if current_user.id == @user.id %>
        <div class="basic-button">
          <%= button_to "投稿編集", "/recruitments/#{@recruitment.id}/edit", method: :get, class: "btn btn-success btn-lg w-15" %>
        </div>
        <div class="danger-button">
          <%= button_to "投稿削除", "/recruitments/#{@recruitment.id}", { method: :delete, class: "btn btn-danger btn-lg w-15", data: { confirm: '本当に削除しますか？' } } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br /><br />
<%= render './users/user_show' %>
