<div>
  <h1 class="page-title"><%= t("friend_relations.index.friend_request_list") %></h1>
</div>
<% @friend_requests.each do |request| %>
  <div class="container main-contents">
    <div class="row">
      <div class="col-sm-4 friend-empty-box">
      </div>
      <div class="col-sm-4">
        <div class="chatroom-box">
          <%= link_to user_path(request.from_applicant_id) do %>
            <div class="friend_img-position">
              <%= image_tag request.from_applicant.user_detail.profile_picture.url, size: '60x60' %>
            </div>
            <div class="main-friend-content">
              <div class="friend-name-box">
                <%= request.from_applicant.user_detail.account_name %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-sm-4 friend-empty-box friend-request-btn">
          <%= render 'friend_request', user: user = request.from_applicant %><br/>
      </div>
    </div>
  </div>
<% end %>
