<div id="friend_request_<%= user.id %>">

  <% if current_user.id == user.id %>
    <p>自分のアカウントです</p>
  <!-- フレンドではない場合 -->
  <% elsif FriendRelation.check_already_friend?(current_user, user) == false %>
    <%= form_with(model: current_user.friend_relations.build(to_target_id: user.id))  do |f| %>
      <%= f.hidden_field :to_target_id %>
      <%= f.submit "フレンド申請" %>
    <% end %>
  <!-- 申請中かつ自分が申請者の場合 -->
  <% elsif FriendRelation.are_you_applicant?(current_user, user) %>
    <%= form_with(model: current_user.friend_relations.find_by(to_target_id: user.id), method: :delete ) do |f| %>
      <%= f.submit "申請をキャンセル", data: { confirm: "申請をキャンセルしますか？"}  %>
    <% end %>
  <!-- 申請中かつ自分が申請を受け取ったの場合 -->
  <% elsif FriendRelation.are_you_receiver?(current_user, user)%>
    <%= form_with(model: user.friend_relations.find_by(to_target_id: current_user.id), method: :patch ) do |f| %>
      <%= f.hidden_field :status, value: "フレンド" %>
      <%= f.submit "申請を許可" %>
    <% end %>
    <%= form_with(model: user.friend_relations.find_by(to_target_id: current_user.id), method: :patch ) do |f| %>
      <%= f.hidden_field :status, value: "ブロック" %>
      <%= f.submit "申請を却下", data: { confirm: "申請を却下します。よろしいですか？"}  %>
    <% end %>
  <!-- フレンドの場合 -->
  <% elsif FriendRelation.get_friend_status(current_user, user) == "フレンド" %>
    <%= form_with(model: user.friend_relations.find_by(to_target_id: current_user.id), method: :patch ) do |f| %>
      <%= f.hidden_field :status, value: "ブロック" %>
      <%= f.submit "フレンドを解除", data: { confirm: "フレンドを解除しますか？"} %>
    <% end %>
  <% else %>
    <!-- ステータスがブロックの場合 -->
  <% end %>
</div>
