<div>
  <h1 class="page-title"><%= t("users.user_show.basic_information") %></h1>
</div>
<div class="container main-contents">
  <div class="row">
    <div class="col-md-2">
      <div class="recruitment-img">
        <%= image_tag @profile.profile_picture.url, size: '100x100' %>
      </div>
      <% if current_user.id == @user.id %>
        <div class="recruitment-img">
          <% if params[:locale] == "ja" %>
            <%= button_to "プロフィールの編集", edit_user_registration_path, method: :get, class: "btn btn-success btn-lg" %>
          <% else %>
            <%= button_to "Edit your account", edit_user_registration_path, method: :get, class: "btn btn-success btn-lg" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-8 profile-field">
      <div class="form_box">
        <div class="profile-title">
          <p><%= t("users.user_show.account_name") %></p>
        </div>
        <div class="profile-content">
          <p class="content-padding"><%= @profile.account_name %></p>
        </div>
      </div>
      <% if current_user.id == @user.id %>
        <br />
        <div class="form_box">
          <div class="profile-title">
            <p><%= t("users.user_show.email") %></p>
          </div>
          <div class="profile-content">
            <p class="content-padding"><%= @user.email %></p>
          </div>
        </div>
      <% end %>
      <% if @user.release_info(current_user, @user, @profile.living_country, @profile.living_country_status ) == true %>
        <br />
        <div class="form_box">
          <div class="profile-title">
            <p><%= t("users.user_show.living_country") %></p>
          </div>
          <div class="profile-content">
            <p class="content-padding"><%= @profile.country_name(@profile.living_country) %>
              <% if current_user.id == @user.id %>
                <% if params[:locale] == "ja" %>
                  | <%= @profile.living_country_status %>
                <% elsif @profile.living_country_status == "公開" %>
                  | Public
                <% elsif @profile.living_country_status == "非公開" %>
                  | Private
                <% else %>
                  | Public to friends only
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
      <% if @user.release_info(current_user, @user, @profile.native_country, @profile.native_country_status ) == true %>
        <br />
        <div class="form_box">
          <div class="profile-title">
            <p><%= t("users.user_show.native_country") %></p>
          </div>
          <div class="profile-content">
            <p class="content-padding"><%= @profile.country_name(@profile.native_country) %>
              <% if current_user.id == @user.id %>
                <% if params[:locale] == "ja" %>
                  | <%= @profile.native_country_status %>
                <% elsif @profile.native_country_status == "公開" %>
                  | Public
                <% elsif @profile.native_country_status == "非公開" %>
                  | Private
                <% else %>
                  | Public to friends only
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
      <% if @user.release_info(current_user, @user, @profile.date_of_birth, @profile.date_of_birth_status ) == true %>
        <br />
        <div class="form_box">
          <div class="profile-title">
            <p><%= t("users.user_show.date_of_birth") %></p>
          </div>
          <div class="profile-content">
            <p class="content-padding"><%= @profile.date_of_birth %>
              <% if current_user.id == @user.id %>
                <% if params[:locale] == "ja" %>
                  | <%= @profile.date_of_birth_status %>
                <% elsif @profile.date_of_birth_status == "公開" %>
                  | Public
                <% elsif @profile.date_of_birth_status == "非公開" %>
                  | Private
                <% else %>
                  | Public to friends only
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
      <% if @user.release_info(current_user, @user, @profile.gender, @profile.gender_status ) == true %>
        <br />
        <div class="form_box">
          <div class="profile-title">
            <p><%= t("users.user_show.gender") %></p>
          </div>
          <div class="profile-content">
            <p class="content-padding">
              <% if params[:locale] == "ja" %>
                <%= @profile.gender %>
              <% elsif @profile.gender == "男性" %>
                Male
              <% elsif @profile.gender == "女性" %>
                Female
              <% else %>
                Gender Identity
              <% end %>
              <% if current_user.id == @user.id %>
                <% if params[:locale] == "ja" %>
                  | <%= @profile.gender_status %>
                <% elsif @profile.gender_status == "公開" %>
                  | Public
                <% elsif @profile.gender_status == "非公開" %>
                  | Private
                <% else %>
                  | Public to friends only
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-2">
      <% if current_user != @user && FriendRelation.check_friend_status(current_user, @user) %>
        <div class="button-padding">
          <% if params[:locale] == "ja" %>
            <%= button_to 'チャット', message_path(@user.id), method: :get, class: "btn btn-primary btn-lg w-75" %>
          <% else %>
            <%= button_to 'Chat', message_path(@user.id), method: :get, class: "btn btn-primary btn-lg w-75" %>
          <% end %>
        </div>
      <% end %>
      <div class="button-padding">
        <%= render './friend_relations/friend_request', user: user = @user %>
      </div>
    </div>
  </div>
</div>

<% if @profile.self_introduction.present?%>
  <div>
    <h1 class="page-title"><%= t("users.user_show.self_introduction") %></h1>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 show-content">
      <%= safe_join(@profile.self_introduction.split("\n"), tag(:br, class: "form-control textarea-show-box") ) %>
    </div>
    <div class="col-md-2">
    </div>
  </div>
<% end %>
  <h1 class="page-title"><%= t("users.user_show.language_information") %></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 profile-field">
      <% @learn_languages.each do |learn_language| %>
        <% if @user.release_info(current_user, @user, learn_language.learn_language, learn_language.learn_language_status ) == true %>
          <div class="form_box">
            <div class="profile-title">
              <p><%= t("users.user_show.learning_languages") %></p>
            </div>
            <div class="profile-content">
              <p class="content-padding"><%= learn_language.learn_language %>：
                <% if params[:locale] == "ja" %>
                  <%= learn_language.rank %>
                <% elsif learn_language.rank == "初級者" %>
                  Beginner
                <% elsif learn_language.rank == "中級者" %>
                  Intermediate
                <% elsif learn_language.rank == "上級者" %>
                  Senior
                <% else %>
                  Native
                <% end %>
                <% if current_user.id == @user.id %>
                  <% if params[:locale] == "ja" %>
                    | <%= learn_language.learn_language_status %>
                  <% elsif learn_language.learn_language_status == "公開" %>
                    | Public
                  <% elsif learn_language.learn_language_status == "非公開" %>
                    | Private
                  <% else %>
                    | Public to friends only
                  <% end %>
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
      <% @speak_languages.each do |speak_language| %>
        <% if @user.release_info(current_user, @user, speak_language.speak_language, speak_language.speak_language_status ) == true %>
          <div class="form_box">
            <div class="profile-title">
              <p><%= t("users.user_show.speaking_languages") %></p>
            </div>
            <div class="profile-content">
              <p class="content-padding"><%= speak_language.speak_language %>：
                <% if params[:locale] == "ja" %>
                  <%= speak_language.rank %>
                <% elsif speak_language.rank == "初級者" %>
                  Beginner
                <% elsif speak_language.rank == "中級者" %>
                  Intermediate
                <% elsif speak_language.rank == "上級者" %>
                  Senior
                <% else %>
                  Native
                <% end %>
                <% if current_user.id == @user.id %>
                  <% if params[:locale] == "ja" %>
                    | <%= speak_language.speak_language_status %>
                  <% elsif speak_language.speak_language_status == "公開" %>
                    | Public
                  <% elsif speak_language.speak_language_status == "非公開" %>
                    | Private
                  <% else %>
                    | Public to friends only
                  <% end %>
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-2 button-padding">
    </div>
  </div>
</div>
<div>
  <h1 class="page-title"><%= t("users.user_show.playing_games") %></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 profile-field">
      <% @games.each do |game| %>
        <div class="form_box">
          <div class="profile-title">
            <p><%= game.game_relation_game_platforms[0].name %></p>
          </div>
          <div class="profile-content">
            <p class="content-padding"><%= game.name %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-2 button-padding">
    </div>
  </div>
</div>
<div>
  <h1 class="page-title"><%= t("users.user_show.game_accounts") %></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 profile-field">
      <% if @game_account.twitter_id.present? && @user.release_info(current_user, @user, @game_account.twitter_id, @game_account.twitter_id_status ) == true %>
        <div class="form_box">
          <div class="profile-title">
            <p>Twitter ID</p>
          </div>
          <div class="profile-content">
            <p class="content-padding"><%= @game_account.twitter_id %>
              <% if current_user.id == @user.id %>
                <% if params[:locale] == "ja" %>
                  | <%= @game_account.twitter_id_status %>
                <% elsif @game_account.twitter_id_status == "公開" %>
                  | Public
                <% elsif @game_account.twitter_id_status == "非公開" %>
                  | Private
                <% else %>
                  | Public to friends only
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
      <% if @game_account.discord_id.present? && @user.release_info(current_user, @user, @game_account.discord_id, @game_account.discord_id_status ) == true %>
        <div class="form_box">
          <div class="profile-title">
            <p>Discord ID</p>
          </div>
          <div class="profile-content">
            <p class="content-padding"><%= @game_account.discord_id %>
              <% if current_user.id == @user.id %>
                <% if params[:locale] == "ja" %>
                  | <%= @game_account.discord_id_status %>
                <% elsif @game_account.discord_id_status == "公開" %>
                  | Public
                <% elsif @game_account.discord_id_status == "非公開" %>
                  | Private
                <% else %>
                  | Public to friends only
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      <br />
      <% end %>
      <% if @game_account.steam_id.present? && @user.release_info(current_user, @user, @game_account.steam_id, @game_account.steam_id_status ) == true %>
        <div class="form_box">
          <div class="profile-title">
            <p>Steam ID</p>
          </div>
          <div class="profile-content">
            <p class="content-padding"><%= @game_account.steam_id %>
              <% if current_user.id == @user.id %>
                <% if params[:locale] == "ja" %>
                  | <%= @game_account.steam_id_status %>
                <% elsif @game_account.steam_id_status == "公開" %>
                  | Public
                <% elsif @game_account.steam_id_status == "非公開" %>
                  | Private
                <% else %>
                  | Public to friends only
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      <br />
      <% end %>
      <% if @game_account.origin_id.present? && @user.release_info(current_user, @user, @game_account.origin_id, @game_account.origin_id_status ) == true %>
        <div class="form_box">
          <div class="profile-title">
            <p>Origin ID</p>
          </div>
          <div class="profile-content">
            <p class="content-padding"><%= @game_account.origin_id %>
              <% if current_user.id == @user.id %>
                <% if params[:locale] == "ja" %>
                  | <%= @game_account.origin_id_status %>
                <% elsif @game_account.origin_id_status == "公開" %>
                  | Public
                <% elsif @game_account.origin_id_status == "非公開" %>
                  | Private
                <% else %>
                  | Public to friends only
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      <br />
      <% end %>
      <% if @game_account.riot_id.present? && @user.release_info(current_user, @user, @game_account.riot_id, @game_account.riot_id_status ) == true %>
        <div class="form_box">
          <div class="profile-title">
            <p>Riot ID</p>
          </div>
          <div class="profile-content">
            <p class="content-padding"><%= @game_account.riot_id %>
              <% if current_user.id == @user.id %>
                <% if params[:locale] == "ja" %>
                  | <%= @game_account.riot_id_status %>
                <% elsif @game_account.riot_id_status == "公開" %>
                  | Public
                <% elsif @game_account.riot_id_status == "非公開" %>
                  | Private
                <% else %>
                  | Public to friends only
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      <br />
      <% end %>
      <% if @game_account.psn_id.present? && @user.release_info(current_user, @user, @game_account.psn_id, @game_account.psn_id_status ) == true %>
        <div class="form_box">
          <div class="profile-title">
            <p>PSN ID</p>
          </div>
          <div class="profile-content">
            <p class="content-padding"><%= @game_account.psn_id %>
              <% if current_user.id == @user.id %>
                <% if params[:locale] == "ja" %>
                  | <%= @game_account.psn_id_status %>
                <% elsif @game_account.psn_id_status == "公開" %>
                  | Public
                <% elsif @game_account.psn_id_status == "非公開" %>
                  | Private
                <% else %>
                  | Public to friends only
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      <br />
      <% end %>
      <% if @game_account.xbox_id.present? && @user.release_info(current_user, @user, @game_account.xbox_id, @game_account.xbox_id_status ) == true %>
        <div class="form_box">
          <div class="profile-title">
            <p>Xbox ID</p>
          </div>
          <div class="profile-content">
            <p class="content-padding"><%= @game_account.xbox_id %>
              <% if current_user.id == @user.id %>
                <% if params[:locale] == "ja" %>
                  | <%= @game_account.xbox_id_status %>
                <% elsif @game_account.xbox_id_status == "公開" %>
                  | Public
                <% elsif @game_account.xbox_id_status == "非公開" %>
                  | Private
                <% else %>
                  | Public to friends only
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      <br />
      <% end %>
      <% if @game_account.nintendo_id.present? && @user.release_info(current_user, @user, @game_account.nintendo_id, @game_account.nintendo_id_status ) == true %>
        <div class="form_box">
          <div class="profile-title">
            <p><%= t("users.user_show.nintendo_id") %></p>
          </div>
          <div class="profile-content">
            <p class="content-padding"><%= @game_account.nintendo_id %>
              <% if current_user.id == @user.id %>
                <% if params[:locale] == "ja" %>
                  | <%= @game_account.nintendo_id_status %>
                <% elsif @game_account.nintendo_id_status == "公開" %>
                  | Public
                <% elsif @game_account.nintendo_id_status == "非公開" %>
                  | Private
                <% else %>
                  | Public to friends only
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      <br />
      <% end %>
      <% if @game_account.other_id.present? && @user.release_info(current_user, @user, @game_account.other_id, @game_account.other_id_status ) == true %>
        <div class="form_box">
          <div class="profile-title">
            <p><%= t("users.user_show.other_id") %></p>
          </div>
          <div class="profile-content">
            <p class="content-padding"><%= @game_account.other_id %>
              <% if current_user.id == @user.id %>
                <% if params[:locale] == "ja" %>
                  | <%= @game_account.other_id_status %>
                <% elsif @game_account.other_id_status == "公開" %>
                  | Public
                <% elsif @game_account.other_id_status == "非公開" %>
                  | Private
                <% else %>
                  | Public to friends only
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-2 button-padding">
    </div>
  </div>
</div>
