<div>
  <h1 class="page-title">
    <% if current_user.id == @user.id %>
      <%= t("users.show.my_page") %>
    <% else %>
      <%= @profile.account_name %><%= t("users.show.details") %>
    <% end %>
  </h1>
</div>
<%= render 'user_show' %>
<% if @recruitments.present? %>
  <div>
    <h1 class="page-title"><%= t("users.show.recruiting_posts") %></h1>
  </div>
<% end %>
<div class="container main-contents">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 profile-field">
      <% @recruitments.each do |recruitment| %>
        <br />
        <div class="form_box">
          <div class="profile-post">
            <%= link_to recruitment.title, recruitment_path(recruitment.id), class: "recruitment-title", id: "history-recruitment" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-2 button-padding">
    </div>
  </div>
</div>
